<%= render partial: 'devise/shared/devise_top_nav', locals: { page_name: 'Confirm Email', path_to_text: '', path_to: '', path_back: user_session_path } %>
<section class="container devise-forms">
  <div class="col-md-6 offset-md-3 col-sm-12">

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'btn submit-btn' %>
  </div>
<% end %>
</div>
</section>
