<section class="watch-board shadow p-2">
    <div class="item1 mb-1">
        <span class="text-muted">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            This Month:
        </span> 
        <span style="float:right"><b><%= number_to_currency(@this_month) %></b></span>
    </div>
    <div class="item1 mb-1">
        <span class="text-muted">
            <i class="fa fa-globe" aria-hidden="true"></i>
            All time:
        </span>
        <span style="float:right"><b><%= number_to_currency(@total_amount) %></b></span>
    </div>
    <div class="item1 mb-1">
        <span class="text-muted">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
            Top Category: 
        </span>
        <span style="float:right"><b><%= @highest_category.name %></b></span>
    </div>
</section>
<section class="categories-wrapper">
    <ul>
        <% @categories.each do |category| %>
            <li class="shadow">
                <%= image_tag(category.image, size: '80x80', style: 'border-radius: 10px') if category.image.present? %>
                <%= image_tag("no-category.jpg", size: '80x80', style: 'border-radius: 10px') if !category.image.present? %>
                <span class="text-muted cat_name"><%= category.name %></span>
                <span style="float:right; font-weight: bold;"><%= number_to_currency(category.total_amount) if category.total_amount.present? %></span>
                <span style="float:right; font-weight: bold;"><%= number_to_currency(0) if !category.total_amount.present? %></span>
            </li>
        <% end %>
    </ul>
</section>
<%= link_to new_category_path, class: 'foot-button' do %>
    <div class="btn-build">
        New Category
    </div>
<% end %>
